<div id="confetti_div" class="hidden transition w-full h-full flex items-center justify-center">
    <div class="w-full h-full flex items-center justify-center">
        <p class="text-3xl sm:text-5xl lg:text-7xl font-semibold flex flex-col items-center">
            <span class="text-2xl sm:text-4xl lg:text-5xl">We're celebrating the</span>
            <span>14th year of <span class="text-[var(--primary)]">Sudocrypt</span></span>
        </p>
    </div>

    <canvas id="canvas" class="max-w-screen max-h-screen absolute top-0 left-0"></canvas>
</div>

<script type="module" src="confetti.js"></script>