<div
    class="w-screen px-3 lg:px-20 py-7 gap-5 flex flex-col lg:flex-row items-center justify-between absolute top-0 left-0">
    <div class="flex gap-4 items-center">
        <a href="/"><img class="w-8 rounded-lg" src="assets/sudo.png" alt="Sudocrypt" /></a>
        <a href="/" class="font-medium text-2xl">Sudocrypt v14.0</a>
    </div>
    <div class="flex gap-4 sm:gap-10 items-center">
        <a href="/">Home</a>
        <a href="/play">Play</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="{status_url}">{status}</a>
        
        {announcements}
    </div>
</div>