<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#131520" />
    <meta name="description" content="Website for Exun Sudocrypt 2024" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Sudocrypt 2024</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="main.css">
    <script src="tailwind.js"></script>

</head>

<body>
    <div class="relative w-screen h-screen bg-[var(--background)] pt-40 lg:pt-20">

        {header}

        {confetti}

        <div id="random" class="relative w-full">
            <div class="transition transition-all duration-300 w-full">
                <div class="max-w-[800px] mx-auto p-4 sm:p-7 w-full">
                    <h4 class="text-5xl font-bold mb-10 text-center">Sudocrypt V14.0</h4>
                    <div class="wrapper flex-col">
                        <div class="max-w-[1000px] text-base text-white/90 flex flex-col gap-2 mb-14">
                            <p>This is a platform created by <a href="https://exunclan.com/" target="_blank"
                                    class="text-[var(--primary)]">Exun Clan</a>.</p>
                            <p>All participants are recommended to read the <a
                                    href="https://docs.google.com/document/d/e/2PACX-1vRxmgwlxNkSHb-ZDedsBvUvp14PBTXoKgIETV4XkNzZjo07MVPPNRkr7v14Ls9PhLZ8qUD1f1TulqHV/pub"
                                    target="_blank" class="text-[var(--primary)]">Cryptic Hunt resources</a>.</p>

                            <div
                                class="my-3 p-4 bg-[var(--background)] border border-white/50 rounded-lg w-full flex flex-col gap-2">
                                <p style="justify-content:center"><span style="color: #c7110d;">Sudocrypt v14.0</span> is back! The technology club of DPS R.K. Puram, <strong>Exun Clan</strong>, is returning with its eagerly anticipated annual 
                                    <span style="color: #c7110d;">International Cryptic Hunt</span> x <span style="color: #c7110d;">Capture the Flag (CTF)</span> event. Sudocrypt is an international online cryptic hunt where participants from around the world compete to solve levels in the least amount of time.
                                    <br><br>
                                    While solving code-breaking, cryptography, and CTF challenges, <span style="color: #c7110d;">Sudocrypt v14.0</span> introduces a reinvented format with thrilling cash rewards totaling up to $600 USD (50,000 INR).
                                    <br><br>
                                    Sudocrypt v14.0 will be more unique than ever. The 36-hour event will run from <strong>9:00 AM IST on 7th November 2024</strong> to <strong>9:00 PM IST on 8th November 4</strong>.
                                    </p>
                            </div>
                        </div>

                        <div class='max-w-[1000px] w-full flex flex-col mb-5 items-center'>
                            <h2 class='text-2xl text-center mb-2'>Win Cash Prizes Over</h2>
                            <h1 class='text-5xl font-extrabold text-center mb-10'>₹50,000</h1>
                            <div class='w-full flex flex-col bg-[rgba(255,255,255,0.04)] border border-[rgba(255,255,255,0.15)] rounded-md text-xs sm:text-sm md:text-base mb-4'>
                                <div class='flex flex-row border-[rgba(255,255,255,0.15)] border-b'>
                                    <div class='w-1/3 px-3 md:px-6 py-2 border-r border-[rgba(255,255,255,0.15)] flex flex-col justify-center items-center gap-1'>
                                        <p class="text-sm font-light">1st</p>
                                        <p class="text-lg font-bold">₹20K</p>
                                    </div>
                                    <div class='w-1/3 px-3 md:px-6 py-2 border-r border-[rgba(255,255,255,0.15)] flex flex-col justify-center items-center gap-1'>
                                        <p class="text-sm font-light">2nd</p>
                                        <p class="text-lg font-bold">₹12K</p>
                                    </div>
                                    <div class='w-1/3 px-3 md:px-6 py-2 flex flex-col justify-center items-center gap-1'>
                                        <p class="text-sm font-light">3rd</p>
                                        <p class="text-lg font-bold">₹8K</p>
                                    </div>
                                </div>
                                <div class='flex flex-row'>
                                    <div class='w-1/3 px-3 md:px-6 py-2 border-r border-[rgba(255,255,255,0.15)] flex flex-col justify-center items-center gap-1'>
                                        <p class="text-sm font-light">Top 5</p>
                                        <p class="text-lg font-bold">₹2K</p>
                                    </div><div class='w-1/3 px-3 md:px-6 py-2 border-r border-[rgba(255,255,255,0.15)] flex flex-col justify-center items-center gap-1'>
                                        <p class="text-sm font-light">Top 15</p>
                                        <p class="text-lg font-bold">₹400</p>
                                    </div><div class='w-1/3 px-3 md:px-6 py-2 flex flex-col justify-center items-center gap-1'>
                                        <p class="text-sm font-light">Top 50</p>
                                        <p class="text-lg font-bold">.xyz Domain</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {countdown}
                </div>
            </div>
        </div>
        {footer}
    </div>

</body>

</html>