<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body style="margin: 0; padding: 0; color: #fff; font-family: Arial, sans-serif;">
    <table role="presentation"
        style="width: 100%; height: 100%; color: #fff; font-family: Arial, sans-serif;">
        <tr>
            <td align="center" style="padding: 1rem;">
                <table role="presentation"
                    style="width: 100%; max-width: 600px; background: #151618; border-radius: 0.75rem; border: 1px solid rgba(255, 255, 255, 0.15); padding: 1.75rem 1.5rem; padding-bottom: 0px;">
                    <tr>
                        <td align="center" style="width: 15rem;">
                            <img src="https://sudocrypt.com/assets/sudo.png"
                                style="width: 8rem;" alt="Logo">
                            <p style="font-size: 2.5rem; font-weight: 700;">Sudocrypt v14.0</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h1 style="font-size: 1.5rem; line-height: 2rem; font-weight: 700; margin: 0.25rem;">Email
                                Verification</h1>
                            <p
                                style="font-size: 0.875rem; line-height: 1.25rem; text-align: center; color: rgba(255, 255, 255, 0.75); margin: 0.25rem;">
                                Enter this 6-digit one-time verification code in the signup page.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-top: 2rem;">
                            <table role="presentation" style="border-spacing: 0.75rem;">
                                <tr>
                                    <td
                                        style="border-radius: 0.25rem; width: 42px; height: 42px; background-color: rgb(241, 245, 249); text-align: center; vertical-align: middle; font-size: 1.5rem; line-height: 2rem; font-weight: 800; color: rgb(15, 23, 42);">
                                        {digit1}</td>
                                    <td
                                        style="border-radius: 0.25rem; width: 42px; height: 42px; background-color: rgb(241, 245, 249); text-align: center; vertical-align: middle; font-size: 1.5rem; line-height: 2rem; font-weight: 800; color: rgb(15, 23, 42);">
                                        {digit2}</td>
                                    <td
                                        style="border-radius: 0.25rem; width: 42px; height: 42px; background-color: rgb(241, 245, 249); text-align: center; vertical-align: middle; font-size: 1.5rem; line-height: 2rem; font-weight: 800; color: rgb(15, 23, 42);">
                                        {digit3}</td>
                                    <td
                                        style="border-radius: 0.25rem; width: 42px; height: 42px; background-color: rgb(241, 245, 249); text-align: center; vertical-align: middle; font-size: 1.5rem; line-height: 2rem; font-weight: 800; color: rgb(15, 23, 42);">
                                        {digit4}</td>
                                    <td
                                        style="border-radius: 0.25rem; width: 42px; height: 42px; background-color: rgb(241, 245, 249); text-align: center; vertical-align: middle; font-size: 1.5rem; line-height: 2rem; font-weight: 800; color: rgb(15, 23, 42);">
                                        {digit5}</td>
                                    <td
                                        style="border-radius: 0.25rem; width: 42px; height: 42px; background-color: rgb(241, 245, 249); text-align: center; vertical-align: middle; font-size: 1.5rem; line-height: 2rem; font-weight: 800; color: rgb(15, 23, 42);">
                                        {digit6}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="width: 100%; color: rgba(255, 255, 255, 0.6); margin-top: 20px;">
                                <div style="text-align: center;">
                                    <p style="margin-right: 0.6rem;">&copy; Exun Clan</p>
                                    <p>The Computer Club of Delhi Public School, R.K. Puram</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>